* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #42444d;
  font-size: 1em;
}

.wrap {
  max-width: 60vw;
  margin: 0 auto;
  background-color: #cec8c8;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.container {
  cursor: pointer;
  background-color: #eee;
  padding: 1rem;
}

.container,
.bayan-header,
.bayan-content {
  cursor: pointer;
}

.bayan-header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  background-color: #05869d;
  color: #82adb4;
  padding: 1rem;
  transition: all .5s ease;
}

.bayan-indicator {
  font-size: 2rem;
  font-weight: 900;
  transform: rotate(-270deg);
  opacity: 0;
  transition: all 0.5s ease;
}

.container:hover .bayan-indicator {
  opacity: 1;
}

.container:hover .bayan-header {
  color: #eee;
}

.bayan-item input[type="radio"] {
  opacity: 0;
  pointer-events: none;
}

.bayan-item:active .bayan-header {
  color: #42444d;
}

.bayan-item:active .bayan-content {
  background-color: #42444d;
  transition: all 0.5s ease;
}

.bayan-item input[type="radio"] {
  opacity: 0;
  pointer-events: none;
}


.bayan-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 0%;
  height: auto;
  transition: all 0.5s ease;
}

.bayan-item input[type="radio"]:checked ~ .bayan-content img,
.bayan-item:hover input[type="radio"]:not(:checked) ~ .bayan-content img {
  width: 80%;
  margin: 1rem 0;
  transition: all 0.5s ease;
}

.bayan-item input[type="radio"]:checked ~ .bayan-header .bayan-indicator,
.bayan-item:hover input[type="radio"]:not(:checked) ~ .bayan-header .bayan-indicator {
  transform: rotate(225deg);
  transition: all 0.5s ease;
}
